'atom-text-editor[data-grammar="text html erb"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text html twig"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text html liquid"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-workspace atom-text-editor:not([mini])':
  'cmd-k f f': 'open-this:here'
  'cmd-k f d': 'open-this:split-down'
  'cmd-k f r': 'open-this:split-right'
